.container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  color: #ffeedc;
  background-color: #0c1d37;
  position: relative;

}

.add-btn {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #196f4d;
  color: #ffeedc;
  font-weight: 600;
  border-radius: 15px ;
  font-size: 17px;
}

.add-btn:hover {
  background-color: #1f865d;
  transition: all 0.2s;
}

.sticker-desk {
  display: flex;
  flex-wrap: wrap;
}

.sticker-item {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: #ffeedc;
  color: #1f212c;
  margin: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #eb3b44be;
  color: #f9f2ec;
  font-weight: 600;
}
.delete-btn:hover {
  background-color: #cb212a;
  transition: all 0.2s;
}

.sticker-input {
  height: 100px;
  background-color: inherit;
  text-align: center;
}